.featured_product{
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  height:500px;
  display: inline-block;
  margin-top: 10px;
}

.product-image{
  height:50%;
  width: 95%;
  margin: 10px auto;
  background: #6C7A89;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
