.inc-dec-holder{
  height:30px;
  border-radius:2px;
  display: flex;
  justify-content: center;
  margin-top:10px;
}


.content-holder{
  display: flex;
  width: 35%;
  justify-content: center;
}

.decrement{
  border: 1px solid white;
  height: 100%;
  width:25%;
  background: white;
  color: black;
  font-size: 1em;
}

.decrement:hover{
  cursor: pointer;
}
.increment{
  height: 100%;
  width:25%;
  background: white;
  color: black;
  font-size: 1em;
  border: 1px solid white;
}

.increment:hover{
  cursor: pointer;
}

.value{
  display: flex;
  align-items: center;
  height:100%;
  font-size:2em;
}
