.checkout-item-wrapper{
  height:175px;
}

.checkout-box{
  float: right;
  width: 400px;
  height: 150px;
  margin: 10px;
  font-size: 0.75em;
}

.item{
  height:25%;
  display: flex;
  justify-content: space-between;
}
