.products-filter{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.category-filter{
  width: 10%;
  color: black;
  font-size: 1.25vw;
  &:hover{
    cursor: pointer;
  }
}

.meat{
  background: white;
  border: 1px solid #c0392b;
  &:hover{
    cursor: pointer;
    background: #c0392b;
  }
}

.produce{
  background: white;
  border: 1px solid #27ae60;
  &:hover{
    cursor: pointer;
    background: #27ae60;
  }
}

.dairy{
  background: white;
  border: 1px solid #2980b9;
  &:hover{
    cursor: pointer;
    background: #2980b9;
  }
}

.grains{
  background: white;
  border: 1px solid #E87E04;
  &:hover{
    cursor: pointer;
    background: #E87E04;
  }
}
