.stripe-payment{
  margin-top:100px;
  border: 1px solid white;
  width: 200px;
  height: 75px;
  background-color: #1abc9c;
  color: white;
  font-size: 1em;

  &:hover{
    background-color: white;
    color: #1abc9c;
    border: 1px solid #1abc9c;
    transition: all 0.5s ease;
    cursor: pointer;
  }
}

.payment-btn-page{
  height: 100%;
  display: flex;
  justify-content: center;
}
