.featured_product{
  border-radius: 5px;
  width: 22.5%;
  height:500px;
  display: inline-block;
  margin: 15px;
  box-shadow:0 2px 3px rgba(black,0.1);
  font-family: Raleway;
  overflow: hidden;
  transition:height 1s;
  -webkit-transition:height 1s;
}


.product-image{
  height:50%;
  width: 100%;
  background: #6C7A89;
  border-radius: 5px;
}

.product-content{
  position: relative;
  z-index: 1;
  text-align: center;
      &:before {
      content: '';
      width: 200%;
      height: 100px;
      position: absolute;
      display: block;
      background-color: #fff;
      transform: rotate(-8deg);
      top: -50px;
      left: -10%;
      z-index: -1;
    }
    .buy {
      display: block;
      top: -70px;
      right: 10px;
      z-index: 2;
      width: 50px;
      height: 50px;
      position: absolute;
      margin-right: 20px;
      border-radius: 50%;
      background: #1abc9c;
      color: black;
      opacity: 0.75;
      border: 1px solid #1abc9c;

      &:hover{
        background-color: #16a085;
        border: 1px solid #16a085;
        cursor: pointer;
        i{
          color:black;
          transition-duration: 0.5s;
        }
      }
      &:active{
        background-color: #1abc9c;
        border: 1px solid #1abc9c;
        transition: all 0.1s ease;
        i{
          color:white
        }
      }
    }
  }


.price {
  font-size: 2em;
  font-weight: 900;
  display: block;
  width: 100px;
  margin: 20px auto 0;
  position: relative;
  font-family: Raleway, cursive;

  &:after,
  &:before {
    content: '';
    height: 1px;
    width: 50px;
    display: block;
    position: absolute;
    background-color: #ddd;
    top: 18px;
  }

  &:before {
    left: -50px;
  }

  &:after {
    right: -50px;
  }
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-family: Raleway, sans-serif;
}

.desc {
  font-family: Raleway;
  font-size: 1.25vw;
  height:90px;
}
