.cart-item-wrapper{
  margin-top:15px;
  border-bottom: 1px solid black;
  height:100px;
  display:flex;
  padding-bottom: 110px;
}
.cart-item-picture{
  width: 150px;
  height: 100px;
}

.cart-item-name{
  width: 40%;
  height: 100%;
  text-align:center;
}

.cart-item-quantity{
  height: 100%;
  width: 20%;
  text-align:center;
}

.cart-item-price{
  height: 100%;
  width: 20%;
  text-align: center;
}

.cart-item-remove{
  width: 20%;
  height: 100px;
  flex-shrink: 10%;
  text-align:center;
}

.delete-item{
  width:30px;
  height:30px;
  border-radius: 50%;
  border: 1px solid #e74c3c;
  background-color:white;
  color: #e74c3c;

  &:hover{
    border: 1px solid white;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
  }
}
