.header-btn{
  border: 1px solid white;
  height: 75%;
  width:100px;
  font-family: Raleway;
  background-color: white;
  margin-right:10px;
  color:#black;
  font-size: 18px;
  /*border-radius:5px;*/
  &:hover{
    color: #1abc9c;
    /*border-radius:5px;*/
    transition-duration: 0.5s;
    cursor: pointer;
  }
}
