a{
  text-decoration: none;
  color: black;
  &:hover{
    color: #1abc9c;
    cursor: pointer;
    transition-duration: 0.5s;
  }
}
.main_title{
  float:left;
  margin-left:10px;
  font-family: Raleway;
  display: inline-block;
  font-size:2em;
}
